<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{_plantilla :: estructura(~{::body})}" lang="es">
<head>
<title>Principal</title>
</head>

<body>

    <div class="container" role="main">
      <div class="row">
          <div class="col-sm-3" style="background-color:#007bff">
			<div class="list-group">
  				<a href="alta" class="list-group-item" style="background-color:#007bff; border:none; color:white">
    				Alta coche
  				</a>
  				<a href="listado" class="list-group-item" style="background-color:#007bff; border:none; color:black">Listado coches</a>
  			</div>
          </div>
          <div class="col-sm-9">
          
			<form  th:action="alta" th:object="${coche}" method="post">
 				<h2>Alta</h2>
 	
 				<div class="form-row">	

        			<div class="form-group col-md-6">
      					<label for="marca">Marca</label>
     	 				<select class="custom-select mr-sm-2" id="marca" name="marca">
							<option th:each="marca: ${marcas}" th:value="${marca.id}" th:text="${marca.nombre}"></option>				
						</select>
    				</div>

  				</div>
  	
  				<div class="form-row">
    				<div class="form-group col-md-6">
      					<label for="modelo">Modelo</label>
      					<input type="text" class="form-control" id="modelo" name="modelo" required title="El modelo es obligatorio">
    				</div>

  				</div>
  	
  				<div class="form-row">

    				<div class="form-group col-md-6">
      					<label for="matricula">Matricula</label>
      					<input type="text" class="form-control" id="matricula" name="matricula">
    				</div>
  				</div>


  	
  				<div class="form-row">
    				<div class="col-auto my-1">
    					<button type="submit" class="btn btn-primary">Aceptar</button>
    				</div>
				</div>
	
		    </form>
          </div>
      </div>
    </div>



</body>
</html>







